.card{
    width: 90%;
    text-align: center;
    margin: auto;
}
.card-header {
    background-color: #0d6efd;
    color: #fff;
}
.edit-header{
    background-color: #198754;
}
label {
    font-weight: 600;
}

.card-body {
    background-color: #e3f2fd;
}
